// ----------------------------------------
//                               + home +
// ----------------------------------------
// -- + book list + -------------
.p-home {
  padding: ($STD * 8) 0 0;
}
.p-home__button-show-register-book-panel {
  border: 1px solid #eee;
  background-color: #fff;
  margin-left: auto;
  padding: ($STD * 1) ($STD * 3);
  font-size: 12px;
}
.p-index-books__list-item {
  height: $WIDTH__p-index-books__list-item; // 140px
}
.p-index-books__icon-container {
  background-color: beige;
  @extend .u-margin-right__std-x3;
}

// -- + admin register book + -------------
.p-home__admin-register-book {
  .p-books__show-portlaits-name,
  .p-books__show-relevant-name,
  .p-books__show-comment-date > input {
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px solid #eee;
    border-left: transparent;
    margin: 0;
    padding: 1px;
    text-align: center;
    box-shadow: none;
  }
  .p-books__show-portlaits-name {
    width: 10em;
    font-size: 24px;
  }
  .p-books__show-relevant-name {
    width: 12em;
    margin-top: 9px;
    font-size: 16px;
  }
  .p-books__show-comment-date > input {
    width: 6em;
    margin-left: auto;
    font-size: 12px;
    text-align: center;
  }
  .p-books__show-comment-body > textarea {
    padding: 1em 0.5em;
    font-size: 20px;
    text-align: center;
  }
  .p-book__search-person-container {
    position: absolute;
    bottom: $STD * 6;
    background: rgba(10,10,10,0.8);
    width: 100%;
    height: $STD * 56;
    padding: $STD * 2;
  }
  .p-book__search-person-list {
    @include display(flex);
    @include justify-content(space-around);
    @include align-content(flex-start);
    @include flex-wrap(wrap);
    overflow: scroll;
    height: 100%;
  }
  .p-book__search-person-list-item {
    @include display(flex);
    cursor: pointer;
    background: #222;
    width: 48%;
    margin-bottom: $STD * 2;
    color: #fff;
    @include transition(all 0.1s linear);

    &:hover {
      background: #567a88;
    }
  }
  .p-book__search-person-image-container {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    overflow: hidden;
    width: $STD * 15;
    height: $STD * 18;
  }
  .p-book__search-person-image {
    max-width: $STD * 11;
    max-height: $STD * 14;
  }
  .p-book__search-person-text-container {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
    padding-top: $STD * 2;
    font-size: 14px;
  }
}
