// ----------------------------------------
//                          + typography +
// ----------------------------------------
// -- + header + -------------
.c-header2 {
  color: $COLOR__c-header2;
  font-size: $base-font-size * 1.2;
  font-weight: normal;
}